* {
    margin: 0;
    padding: 0;
}

#font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    padding: 12.5px 16px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: semi-bold;
    cursor: pointer;
    margin: 24px 120px 24px 346px;
}

.btn-2 {
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    padding: 12.5px 16px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: semi-bold;
    cursor: pointer;
}

#navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    width: 100%;
}

#navigation .menu {
    display: flex;
    text-decoration: none;
    list-style: none;
}

#navigation .menu a {
    text-decoration: none;
    color: #474747;
    font-size: 16px;
    font-weight: medium;
    margin: 34px 0px;
    background-color: #469165;
    gap: 32px;
}

#navigation .logo {
    margin: 16px 346px 16px 120px;
}

.hero-section {
    background-image: url("../assets/hero-bg.png");
    /* max-width: 1600px;
    max-height: 674px; */
    object-fit: cover;
    padding: 115px 120px 179px 120px;
    text-align: center;
    background-repeat: no-repeat;
}

.hero-section h1 {
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 32px;
}

#second-heading {
    color: #469165;
}

.hero-section p {
    font-size: 18px;
    font-weight: regular;
    color: #FFFFFF;
    margin: 50px 0px 32px 0px;
    line-height: 28px;

}

/* problems-section */
#problems-section {
    padding: 0PX 120px;
    text-align: center;
}

#problems-section header h2 {
    height: 117px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 48px;
}

#problems-section header p {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    font-size: 16px;
    color: #627382;
}

.problems-container {
    display: flex;
    gap: 24px;
}

.problem {
    width: 322px;
    height: 286px;
    margin-top: 44px;
    box-sizing: border-box;
    padding: 62.5px 0px;
    box-shadow: 0px 0px 8px 0px #00000021;
}

.problem-img {
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 131px;
}

.problem h4 {
    width: 274px;
    font-size: 24px;
    margin: 16px 24px;
    color: #001931;
    display: flex;
    justify-content: center;
    text-align: center;
}

.problem p {
    width: 274px;
    font-size: 16px;
    color: #627382;
    margin: 0px 24px 62.5px;
    text-align: center;
}

/* second-brain-section */

/* #second-brain-section {
    margin-bottom: 120px;
} */

#second-brain-section {
    padding: 120px;
    /* display: flex; */
}

.second-brain-container {
    display: flex;
    gap: 60px;
}

.second-brain-content {
    margin: 102px 0px;
    width: 700px;
    height: 396px;
}

#first-paragraph {
    color: #469165;
    font-size: 16px;
    font-weight: medium;
    margin-bottom: 16px;
}

#second-brain-heading {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

#second-paragraph {
    color: #627382;
    font-size: 16px;
    font-weight: regular;
    line-height: 20px;
    margin-bottom: 40px;
}

.second-brain-items p {
    font-size: 16px;
    color: #001931;
    margin-bottom: 16px;
    /* align-items: center; */
    display: flex;
    gap: 6px;
}

/* early-access-section */

#early-access-section {
    padding: 0px 120px;
}

.early-access-container {
    background-color: #F7F6F2;
    width: 1360px;
    height: 385px;
    box-sizing: border-box;
    padding: 80px 40px;
}

#early-access-title {
    width: 1280px;
    display: flex;
    font-size: 40px;
    color: #001931;
    justify-content: center;
    margin-bottom: 16px;
}

.early-access-description {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #627382;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

.early-access-button {
    margin: 0px 543px 16px;
}

.access-button {
    background-color: #469165;
    width: 194px;
    padding: 16px;
    text-align: center;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.early-access-note {
    text-align: center;
    color: #627382;
}

/* footer styles */

footer {
    margin-top: 120px;}

footer {
    padding: 120px 120px 30px;
    background-color: #001931;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
}

footer .footer-content .footer-logo {
    width: 350px;
    height: 60px;
    /* background-color: #F7F6F2; */

}

footer .footer-content .footer-social {
    width: 220px;
    height: 64px;
    /* background-color: aqua; */
}

footer .footer-content .footer-social .social-hader {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

footer .footer-content .footer-social .social-logos ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

footer .footer-content .footer-social .social-logos ul img {
    height: 11.5px;
    width: 11.5px;
    ;
}

footer .footer-content .footer-social .social-logos .circle {
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-container .footer-copyright p {
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    line-height: 24px;
}

footer .footer-container .footer-copyright hr {
    margin-top: 80px;
    border: 0;
    height: 1px;
    background-color: #CCCCCC;
    /* margin-bottom: 30px; */
    opacity: 20%;

}